Source: aci-vpplib
Section: python
Priority: optional
Maintainer: Cisco Systems, Inc. <aci-vpplib@noironetworks.com>
Build-Depends: debhelper (>= 9), python-setuptools (>= 3.3), python-all (>= 2.7)
Standards-Version: 3.9.5
Homepage: http://github.com/noironetworks/aci-vpplib/
Vcs-Git: git://github.com/noironetworks/aci-vpplib.git
Vcs-Browser: http://github.com/noironetworks/aci-vpplib/

Package: python-aci-vpplib
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python library for wrapping VPP libraries
 Library that is a wrapper for VPP C libraries
