Source: vpp-dhcp-driver
Section: python
Priority: optional
Maintainer: Cisco Systems, Inc. <vpp-dhcp-driver@noironetworks.com>
Build-Depends: debhelper (>= 9), python-setuptools (>= 3.3), python-all (>= 2.7)
Standards-Version: 3.9.5
Homepage: http://github.com/noironetworks/vpp-dhcp-driver/
Vcs-Git: git://github.com/noironetworks/vpp-dhcp-driver.git
Vcs-Browser: http://github.com/noironetworks/vpp-dhcp-driver/

Package: python-vpp-dhcp-driver
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python library for VPP DHCP driver
 Library that contains a DHCP interface driver for VPP dataplanes
